# Environment
.env
# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/

# Django
*.db
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Project specific
*.log
