<h3>Student Dashboard - Submit & Track Complaints</h3>

<div class="cards">
    <div class="card">
        <h3>5</h3>
        <p>Submitted Complaints</p>
    </div>

    <div class="card">
        <h3>2</h3>
        <p>Pending</p>
    </div>

    <div class="card">
        <h3>3</h3>
        <p>Resolved</p>
    </div>
</div>

<button class="action-btn" onclick="window.location.href='/accounts/assign-complaint/'">
 Complaint
</button>

<button class="logout-btn" onclick="window.location.href='/accounts/logout/'">
Logout
</button>
